/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka", "Font Awesome 6 Brands", "Font Awesome 6 Free", monospace;
    font-size: 12px;
}

#window {
  background-color: --wofi-color0;
  color: --wofi-color2;
  border: 2px solid --wofi-color1;
  border-radius: 10px;
}

#outer-box {
  padding: 10px;
}

#input {
  background-color: --wofi-color1;
  border: 0px solid --wofi-color3;
  padding: 8px 10px;
}

#scroll {
  margin-top: 10px;
}

#img {
  padding-right: 8px;
}

#text {
  color: --wofi-color2;
}

#text:selected {
  color: --wofi-color0;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: --wofi-color3;
  color: --wofi-color0;
}

#input, #entry:selected {
  border-radius: 6px;
}
